
node_modules
dist
temp/
packages/mira-app-server/mira_server.tar
packages/mira-app-server/data/
.vscode/edge-debug-user-data/
packages/mira-server/mira_server.tar
plugins/users.db
.spec-workflow/

mira-server.tar
packages/mira-app-server/.tmp-*

# mira-client build artifacts
packages/mira-client/dist-main/
packages/mira-client/dist-preload/
packages/mira-client/dist-renderer/
packages/mira-client/dist-float/
packages/mira-client/build/
packages/mira-app-server/web/
packages/landing-page/introduction/
