# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Secret and configuration files
scripts/release_config.json
.env
.env.*

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Don't ignore these important project files
!pubspec.yaml
!pubspec.lock
!android/
!android/**
!ios/
!ios/**
!web/
!web/**
!windows/
!windows/**
!macos/
!macos/**
!linux/
!linux/**
!analysis_options.yaml
!README.md
sdk/typescript/node_modules/
sdk/typescript/src/examples/
sdk/typescript/src/testlib*
sdk/typescript/src/testlib1/library_data.db
